<div class="container-fluid">


  <!-- Filter Section -->
  <div class="card mb-4">
    <div class="card-body">
      <div class="row g-3">
        <div class="col-12 col-md-4 ">
          <label class="form-label">Select User</label>
          <div class="d-flex">
            <select class="form-select" #user_id (change)="checkPermission(user_id.value)">
              <option value="0">Select User</option>
              @for(user of users ; track $index){
              <option value={{user.id}}>{{user.name}}</option>
              }
            </select>
            @if(showDetails && permission.update_rights && permission.add_rights ){
            <button class="btn btn-sm btn-primary mx-4" (click)="insert_permissions()">save</button>
            <button class="btn btn-sm btn-danger" (click)="resetPermissions()">reset</button>
            }
          </div>
        </div>
      </div>
    </div>
  </div>



  @if(showDetails){
  <h2>Permissions Table</h2>
  
  <form [formGroup]="permissionForm" class="mt-3">
    <div class="card">
      <div class="table-responsive">
        <table class="table permissions-table">
          <thead>
            <tr>
              <th>Menu</th>
              <th class="text-center">View</th>
              <th class="text-center">Add</th>
              <th class="text-center">Edit</th>
              <th class="text-center">Delete</th>
              <th class="text-center">
                <div class="d-flex">
                  <label for="allowAllId" class="text-nowrap">All</label>
                  <input id="allowAllId" #allowAll (click)="allowAllRights($event)" type="checkbox" class="mx-2">
                </div>
              </th>
            </tr>
          </thead>
          <tbody formArrayName="permission_data">
            <tr *ngFor="let item of permission_data.controls ; let i = index" [formGroupName]="i">
              <td>
                <input type="text" formControlName="menu_name" class="border-0" [readOnly]="true">
                <input type="hidden" formControlName="user_id" [readOnly]="true">
                <input type="hidden" formControlName="menu_id" [readOnly]="true">
              </td>
              <td class="text-center"><input type="checkbox" formControlName="view_rights"></td>
              <td class="text-center"><input type="checkbox" formControlName="add_rights"></td>
              <td class="text-center"><input type="checkbox" formControlName="update_rights"></td>
              <td class="text-center"><input type="checkbox" formControlName="delete_rights"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </form>

  }



</div>